{% extends 'base.html' %} {% block content %}
<div class="container p-4 mx-auto">
    <div
        class="grid grid-cols-1 gap-4 p-6 bg-white rounded-lg shadow-lg md:grid-cols-3"
    >
        <div class="col-span-2">
            <h1 class="text-2xl font-semibold">{{ book.title }}</h1>
            <p class="text-gray-600">{{ book.subtitle }}</p>
            <div class="text-sm text-gray-500">
                by {% for author in authors %}
                <p>{{ author }} {% if not forloop.last%}, {% endif %}</p>

                {% endfor %}
            </div>

            <div class="mt-4">
                <p class="text-gray-700">Publisher: {{ book.publisher }}</p>
                <p class="text-gray-700">
                    Published Date: {{ book.publishedDate }}
                </p>
                <p class="text-gray-700">Page Count: {{ book.pageCount }}</p>
            </div>

            <div class="mt-4">
                <h2 class="text-lg font-semibold">Description</h2>
                <p class="text-gray-700" v>{{book.description|safe}}</p>
            </div>

            <div class="mt-4">
                <h2 class="text-lg font-semibold">Categories</h2>
                <ul class="text-gray-700 list-disc list-inside">
                    {% for category in book.categories %}
                    <li>{{ category}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mt-4">
                <h2 class="text-lg font-semibold">Average Rating</h2>
                <p class="text-gray-700">
                    {{ book.averageRating }}/5 ({{ book.ratingsCount }} ratings)
                </p>
            </div>

            <div class="mt-4">
                <h2 class="text-lg font-semibold">Dimensions</h2>
                <p class="text-gray-700">
                    Height: {{ book.dimensions.height }}
                </p>
                <p class="text-gray-700">Width: {{ book.dimensions.width }}</p>
                <p class="text-gray-700">
                    Thickness: {{ book.dimensions.thickness }}
                </p>
            </div>

            <div class="mt-4">
                <h2 class="text-lg font-semibold">Share Links</h2>
                <p class="text-gray-700">
                    <a
                        href="{{ book.previewLink }}"
                        target="_blank"
                        class="text-blue-500"
                        >Preview Link</a
                    >
                </p>
                <p class="text-gray-700">
                    <a
                        href="{{ book.infoLink }}"
                        target="_blank"
                        class="text-blue-500"
                        >Info Link</a
                    >
                </p>
                <p class="text-gray-700">
                    <a
                        href="{{ book.canonicalVolumeLink }}"
                        target="_blank"
                        class="text-blue-500"
                        >Canonical Volume Link</a
                    >
                </p>
            </div>
        </div>

        <div class="mt-4">
            <h2 class="text-lg font-semibold">Cover Image</h2>
            <div class="flex-col gap-4 my-4">
                <div>
                    <img
                        src="{{ book.imageLinks.large }}"
                        alt="{{book.title}}"
                        class="rounded-md shadow-md"
                        onerror="this.src='{{ book.imageLinks.thumbnail }}'; this.onerror=null;"
                    />
                </div>
                <!-- Open the modal using ID.showModal() method -->
                <div class="mx-auto my-8">
                    <div>
                        <button
                            class="btn btn-block btn-info"
                            onclick="rating_modal.showModal()"
                        >
                            Rating
                        </button>
                        {% if review %}
                        <p class="text-success">
                            You Have already added a review
                        </p>
                        {% endif %}
                        <dialog id="rating_modal" class="modal">
                            <div class="space-y-4 modal-box">
                                <h3 class="text-lg font-bold">
                                    {{book.title}}
                                </h3>
                                <form
                                    method="POST"
                                    action="{% url 'review' book.id%}"
                                >
                                    {% csrf_token %}
                                    <div
                                        class="flex-row items-center justify-center space-y-4"
                                    >
                                        <div class="rating">
                                            <input
                                                type="radio"
                                                name="rating_1"
                                                class="mask mask-star"
                                                onclick="updateRating(1)"
                                            />
                                            <input
                                                type="radio"
                                                name="rating_2"
                                                class="mask mask-star"
                                                onclick="updateRating(2)"
                                            />
                                            <input
                                                type="radio"
                                                name="rating_3"
                                                class="mask mask-star"
                                                onclick="updateRating(3)"
                                            />
                                            <input
                                                type="radio"
                                                name="rating_4"
                                                class="mask mask-star"
                                                onclick="updateRating(4)"
                                            />
                                            <input
                                                type="radio"
                                                name="rating_5"
                                                class="mask mask-star"
                                                onclick="updateRating(5)"
                                            />
                                        </div>
                                        <div>
                                            <textarea
                                                class="w-full resize-none textarea textarea-primary"
                                                placeholder="Add a review"
                                                rows="6"
                                                name="comment"
                                                value="{{review.comment}}"
                                            ></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-action">
                                        <form method="dialog">
                                            <button class="btn btn-warning">
                                                Close
                                            </button>
                                        </form>
                                        <button class="btn btn-success">
                                            Save
                                        </button>
                                    </div>
                                </form>

                                <script>
                                    let selectedRating = `{{review.review_count}}`;

                                    function updateRating(rating) {
                                        selectedRating = rating;
                                        updateUI(selectedRating);
                                    }

                                    function updateUI(rating) {
                                        // Update the UI element to display the selected rating

                                        // You can also update other UI elements or apply CSS styles here
                                        // For example, you can change the color of the selected stars
                                        // based on the selected rating.
                                        updateStarColors(rating);
                                    }

                                    function updateStarColors(selectedRating) {
                                        const stars =
                                            document.querySelectorAll(
                                                ".mask-star"
                                            );
                                        stars.forEach((star, index) => {
                                            console.log(star);
                                            if (index + 1 <= selectedRating) {
                                                star.checked = true;
                                                star.classList.add(
                                                    "bg-orange-400"
                                                );
                                            } else {
                                                star.checked = false;
                                                star.classList.remove(
                                                    "bg-orange-400"
                                                );
                                            }
                                        });
                                    }
                                </script>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
