{% extends 'base.html' %} {% block content %}
<div
    class="hero min-h-[93vh]"
    style="
        background-color: #CAF1DE;
    "
>
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <form
                action="/login/"
                method="POST"
                class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100"
            >
                {% csrf_token %}
                <div class="p-4" style="background-color: #FEF8DD;">
                    <h1
                        class="text-3xl font-bold text-center card-title text-slate-500 justify-center"
                    >
                        Login Now
                    </h1>
                </div>
                <div class="divider"></div>
                <div class="card-body">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Name</span>
                        </label>
                        <input
                            type="text"
                            placeholder="Your Name"
                            name="name"
                            class="input input-bordered text-slate-700"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input
                            type="text"
                            placeholder="Your Password"
                            name="password"
                            class="input input-bordered text-slate-700"
                        />
                        <label class="label">
                            <a href="#" class="label-text-alt link link-hover"
                                >Forgot password?</a
                            >
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
