<div
    class="w-full h-full duration-1000 hover:shadow-xl card bg-base-100 group/book hover:scale-105"
>
    <figure class="">
        <img
            src="{{book.imageLinks.thumbnail}}"
            alt="{{book.title}}"
            class="duration-700 group-hover/book:scale-110"
        />
    </figure>
    <div class="card-body">
        <h2 class="card-title drop-shadow-md text-slate-800">{{book.title}}</h2>
        <p class="line-clamp-3 text-slate-500">{{book.description}}</p>
        <div class="justify-end card-actions">
            {% if title == "bookmark" %}
            <a
                href="{% url 'remove_bookmark' book.id %}"
                class="btn btn-sm btn-primary"
                >remove</a
            >
            {% else %}
            <button
                onclick="add('{% url 'bookmark' book.id%}')"
                class="btn btn-sm btn-primary"
            >
                bookmark
            </button>
            {% endif %}

            <a href="{% url 'details' book.id%}" class="btn btn-sm btn-accent">
                Details
            </a>
        </div>
        <script>
            function add(url) {
                fetch(url);
            }
        </script>
    </div>
</div>
